<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:data="http://www.thymeleaf.org/spring-data"
	xmlns:udata="http://www.thymeleaf.org/unescaped-data"
	data-ng-app="application" data-ng-controller="index"
	th:with=
		"
			dialogPageNames =
				${
					{
					}
				},
			contentPageNames =
				${
					{
					'Accounts',
					'SelectPPA',
					'MyDataSources',
					'SelectPpaMetrics1',
						'UploadAndPrepData1',
						'UploadAndPrepData2',
						'UploadAndPrepData3',
						'IdentifyPpaVariables1',
						'IdentifyPpaVariables2',
						'MapHealthSectorsAndLevels1',
						'MapHealthSectorsAndLevels2',
						'MapAggregationLevels1',
						'MapAggregationLevels2',
						'SelectOutputTypeAndGo1'
					}
				}
		"
>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="contextPath" th:content="${#httpServletRequest.getContextPath()}">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
<title>PPA - Patient Pathway Analysis</title>

<!-- jquery and easyui -->
<link rel="stylesheet" type="text/css" th:href="@{/lib/jquery-easyui-1.6.6/themes/icon.css}">
<link rel="stylesheet" type="text/css" th:href="@{/lib/jquery-easyui-1.6.6/themes/default/easyui.css}">
<script type="text/javascript" th:src="@{/lib/jquery-easyui-1.6.6/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery-easyui-1.6.6/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery-easyui-datagridview/datagrid-bufferview.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery-easyui-datagridview/datagrid-scrollview.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery-easyui-datagridview/datagrid-groupview.js}"></script>

<!-- dropzone -->
<script type="text/javascript" th:src="@{/lib/dropzone/dropzone.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/lib/dropzone/dropzone.min.css}">

<!-- application styles -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<!-- blockUI -->
<script type="text/javascript" th:src="@{/lib/blockui/jquery.blockUI.js}"></script>
<script>
$.blockUI.defaults.message = "<img src='/images/ajax-loader.gif'>";
$.blockUI.defaults.css.backgroundColor = "initial";
$.blockUI.defaults.css.border = "none";
</script>

<!-- application functions -->
<script type="text/javascript" th:src='@{/js/functions.js}'></script>

<!-- easyui default -->
<script type="text/javascript" th:src="@{/js/easyui-defaults.js}"></script>

<!-- angular -->
<script type="text/javascript" th:src="@{/lib/angular/angular.min.js}"></script>

<!-- angular scripts -->
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<!-- angular scripts for dialogs -->
<script th:each="pageName : ${dialogPageNames}" th:src="@{|/js/${pageName}.js|}"></script>
<!-- angular scripts for content pages -->
<script th:each="pageName : ${contentPageNames}" th:src="@{|/js/${pageName}.js|}"></script>

<script>
// disable easyui parsing
$.parser.auto = false;
</script>

</head>
<!-- main layout - begin -->
<body>
<div id='loader'></div>
<div class='easyui-layout'
	data-options=
	'
		fit: true,
	'
>

	<!-- header - begin -->
	<div class='page-header'
		data-options=
		'
			region: "north",
			border: false,
		'
	>
	
		<div id='Home-header-layout' class='easyui-layout'
			data-options=
			'
				fit: true,
			'
		>
		
			<!-- header-top - begin -->
			<div class='page-header-top'
				data-options=
				'
					region: "north",
					border: false,
				'
			>
			
				<div class='easyui-layout'
					data-options=
					'
						fit: true,
					'
				>
				
					<!-- logo - begin -->
					<div class='page-header-top-logo'
						data-options=
						'
							region: "west",
							border: false,
						'
					>
					</div>
					<!-- logo - end -->
					
					<!-- resource button - begin -->
					<div class='page-header-top-resources'
						data-options=
						'
							region: "center",
							border: false,
						'
					>
					
						<div style='text-align: right; '>
							<!-- resources -->
							<a href='https://pcf4tb.org/ppa-introduction/' target='_blank' class='page-header-top-resources-link' data-ng-bind='getMessage("home.button.ppaResources.text")'></a>
						</div>
						
					</div>
					<!-- resource button - end -->
					
					<!-- user menu - begin -->
					<div class='page-header-top-menu'
						data-options=
						'
							region: "east",
							border: false,
						'
					>
					
						<!-- userMenu -->
						<a id='Home-userMenuButton' class='userMenuButton'></a>
						<div id='Home-userMenu-authenticated' class='userMenuMenu'></div>
						
					</div>
					<!-- user menu - end -->
					
				</div>
				
			</div>
			<!-- header-top - end -->
			
			<!-- wizard-ribbon - begin -->
			<div id='Home-page-header-bottom' class='page-header-bottom'
				data-options=
				'
					region: "south",
					border: false,
				'
			>
			
				<div class='easyui-layout'
					data-options=
					'
						fit: true,
					'
				>
				
					<!-- wizard-menu - begin -->
					<div class='page-header-bottom-wizard'
						data-options=
						'
							region: "center",
							border: false,
						'
					>
					
						<div class='page-header-wizard-menu div-table width-full height-full table-layout-fixed'>
							<div class='div-table-row height-full'>
								<div class='div-table-cell'>
									<a id='Home-menu-SelectPpaMetrics'></a>
									<div id='Home-menu-SelectPpaMetrics-menu' class='wizard-submenu'></div>
								</div>
								<div class='div-table-cell'>
									<a id='Home-menu-UploadAndPrepData'></a>
									<div id='Home-menu-UploadAndPrepData-menu' class='wizard-submenu'></div>
								</div>
								<div class='div-table-cell'>
									<a id='Home-menu-IdentifyPpaVariables'></a>
									<div id='Home-menu-IdentifyPpaVariables-menu' class='wizard-submenu'></div>
								</div>
								<div class='div-table-cell'>
									<a id='Home-menu-MapHealthSectorsAndLevels'></a>
									<div id='Home-menu-MapHealthSectorsAndLevels-menu' class='wizard-submenu'></div>
								</div>
								<div class='div-table-cell'>
									<a id='Home-menu-MapAggregationLevels'></a>
									<div id='Home-menu-MapAggregationLevels-menu' class='wizard-submenu'></div>
								</div>
								<div class='div-table-cell'>
									<a id='Home-menu-SelectOutputTypeAndGo'></a>
									<div id='Home-menu-SelectOutputTypeAndGo-menu' class='wizard-submenu'></div>
								</div>
							</div>
						</div>
						
					</div>
					<!-- wizard-menu - end -->
					
					<!-- team-ppa-selection - begin -->
					<div class='page-header-bottom-selections'
						data-options=
						'
							region: "east",
							border: false,
						'
					>
					
						<div class='easyui-layout'
							data-options=
							'
								fit: true,
							'
						>
						
							<!-- team-selection - begin -->
							<div class='page-header-bottom-selection' style='width: 50%;'
								data-options=
								'
									region: "west",
									border: false,
								'
							>
								<div class='div-table width-full height-full table-layout-fixed'>
									<div class='div-table-cell' style='vertical-align: middle; text-align: center; '>
										<input id='Home-selectedAccount' class='page-header-bottom-selection-input' style='width: 100%;' />
									</div>
								</div>
							
							</div>
							
							<!-- ppa-selection - begin -->
							<div class='page-header-bottom-selection' style='width: 50%;'
								data-options=
								'
									region: "east",
									border: false,
								'
							>
							
								<div class='div-table width-full height-full table-layout-fixed'>
									<div class='div-table-cell' style='vertical-align: middle; text-align: center; '>
										<input id='Home-selectedPpa' class='page-header-bottom-selection-input' style='width: 100%;' />
									</div>
								</div>
							
							</div>
							
						</div>
						
					</div>
					<!-- team-ppa-selection - end -->
					
				</div>
				
			</div>
			<!-- wizard-ribbon - end -->
			
		</div>
		
	</div>
	<!-- header - end -->

	<!-- content - begin -->
	<div class='page-content'
		data-options=
		'
			region: "center",
			border: false,
		'
	>
	
		<!-- content tabs - begin -->
		<div id='conentTabs' class='easyui-tabs hidden-tabs-header'
			data-options=
			'
				fit: true,
				border: false,
			'
		>
		
			<!-- content pages - begin -->
			<th:block th:each="pageName : ${contentPageNames}">
			<div th:title="${pageName}"
				udata:options=
				"|
					onOpen: function(){return call('${pageName}','onOpen');},
					onClose: function(){return call('${pageName}','onClose');},
				|"
			>
				<div th:id="${pageName}" data:ng-controller="${pageName}" th:insert="~{|fragments/${pageName}|(pageName=${pageName})}" style='width: 100%; height: 100%; '>
				</div>
			</div>
			</th:block>
			<!-- content pages - end -->
			
		</div>
		<!-- content tabs - end -->
		
	</div>
	<!-- content - end -->
	
</div>
</body>
</html>

