<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
<head>
<base href="/">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="contextPath" th:content="${#httpServletRequest.getContextPath()}">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
<title>PPA - Patient Pathway Analysis</title>

<!-- application styles -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body class='home'>
<div class="home-offline-wrapper">
	<div class="home-offline-box" role="status" aria-live="polite">
		<div class="home-offline-title">PPA wizard is not available anymore online.</div>
		<div class="home-offline-subtitle">An offline version of the PPA wizard is under development.</div>
	</div>
</div>
</body>
</html>

