<div class='easyui-layout page-layout-service'
	data-options=
	'
		fit: true,
	'
>

	<!-- profile - begin -->
	<div
		data-options=
		'
			region: "center",
			border: false,
		'
	>
	
		<div class='easyui-layout'
			data-options=
			'
				fit: true,
			'
		>
		
			<!-- page title - begin -->
			<div class='page-title'
				data-options=
				'
					region: "north",
					border: false,
				'
			>
			
				<div class='page-title-text-title' data-ng-bind='title'>A</div>
				<div class='page-title-text-subtitle' data-ng-bind-html='subtitle'>A</div>
				
			</div>
			<!-- page title - end -->
			
			<!-- content pane - begin -->
			<div class='page-center'
				data-options=
				'
					region: "center",
					border: false,
				'
			>
			
				<div class='div-table'>
					<div class='div-table-row'>
						<div class='div-table-cell label label-left' data-ng-bind='emailLabel'>
						</div>
						<div class='div-table-cell' data-ng-bind='$parent.user.email'>
						</div>
					</div>
				</div>
				
				<div style='height: 40px;'></div>
				
			 	<form id='Account-profileForm'>
				<div class='div-table'>
					<div class='div-table-row'>
						<div class='div-table-cell'>
							<input id='Account-profileForm-email' class='easyui-element' />
						</div>
						<div class='div-table-cell' style='width: 25px;'></div>
						<div class='div-table-cell'>
							<input id='Account-profileForm-emailConfirmation' class='easyui-element' />
						</div>
					</div>
					<div class='div-table-row' style='height: 25px;'></div>
					<div class='div-table-row'>
						<div class='div-table-cell'>
							<input id='Account-profileForm-password' class='easyui-element' />
						</div>
						<div class='div-table-cell' style='width: 25px;'></div>
						<div class='div-table-cell'>
							<input id='Account-profileForm-passwordConfirmation' class='easyui-element' />
						</div>
					</div>
					<div class='div-table-row' style='height: 70px;'></div>
					<div class='div-table-row'>
						<div class='div-table-cell'></div>
						<div class='div-table-cell'></div>
						<div class='div-table-cell'>
							<a id='Account-profileForm-submitButton' class='navigation-button navigation-button-wizard' style='width: 160px; float: right; '></a>
						</div>
					</div>
				</div>
				</form>
				
			</div>
		
			<!-- buttons - begin -->
			<div class='page-navigation'
				data-options=
				'
					region: "south",
					border: false,
				'
			>
			
				<a class='easyui-linkbutton navigation-button navigation-button-wizard back-button' style='width: auto; '
					data-options=
					'
						text: getMessage("common.button.goToWizard"),
						onClick:
							function()
							{
								call(null, "selectContentTab", ["SelectPpaMetrics1", ]);
								
							},
					'
				></a>
				
			</div>
			<!-- buttons - end -->
			
		</div>
			
	</div>
	<!-- profile - end -->
	
</div>

<!-- changeEmail dialog - begin -->
<div id='Account-changeEmailDialog' class='dialog security-form' style='visibility: hidden; '>
	<img class='security-form-close' src='/images/security-form-close.png' ng-click='closeChangeEmailDialog()'>
 	<form id='Account-changeEmail-form' class='width-full height-full'>
	<div class='div-table width-full height-full table-layout-fixed'>
		<div class='div-table-row'>
			<div class='div-table-cell security-form-header'>
				<div class='security-form-title' data-ng-bind='changeEmailDialogTitle'></div>
			</div>
		</div>
		<div class='div-table-row'>
			<div class='div-table-cell security-form-input'>
				<input id='Account-changeEmail-form-email' style='width: 100%; ' />
			</div>
		</div>
		<div class='div-table-row'>
			<div class='div-table-cell security-form-button'>
				<a id='Account-changeEmail-form-submitButton' class='navigation-button navigation-button-home'></a>
			</div>
		</div>
	</div>
	</form>
</div>
<!-- changeEmail dialog - end -->

<!-- changePassword dialog - begin -->
<div id='Account-changePasswordDialog' class='dialog security-form' style='visibility: hidden; '>
	<img class='security-form-close' src='/images/security-form-close.png' ng-click='closeChangePasswordDialog()'>
 	<form id='Account-changePassword-form' class='width-full height-full'>
	<div class='div-table width-full height-full table-layout-fixed'>
		<div class='div-table-row'>
			<div class='div-table-cell security-form-header'>
				<div class='security-form-title' data-ng-bind='changePasswordDialogTitle'></div>
			</div>
		</div>
		<div class='div-table-row'>
			<div class='div-table-cell security-form-input'>
				<input id='Account-changePassword-form-password' style='width: 100%; ' />
			</div>
		</div>
		<div class='div-table-row'>
			<div class='div-table-cell security-form-input'>
				<input id='Account-changePassword-form-passwordConfirmation' style='width: 100%; ' />
			</div>
		</div>
		<div class='div-table-row'>
			<div class='div-table-cell security-form-button'>
				<a id='Account-changePassword-form-submitButton' class='navigation-button navigation-button-home'></a>
			</div>
		</div>
	</div>
	</form>
</div>
<!-- changePassword dialog - end -->

