<div class='easyui-layout'
	data-options=
	'
		fit: true,
	'
>

	<div
		data-options=
		'
			region: "center",
			border: false,
		'
	>
	
		<div class='easyui-layout'
			data-options=
			'
				fit: true,
			'
		>
		
			<!-- page title - begin -->
			<div class='page-title'
				data-options=
				'
					region: "north",
					border: false,
				'
			>
			
				<div class='page-title-text-title' data-ng-bind-html='title'>A</div>
				<div class='page-title-text-link'>
					<a href='https://www.pcf4tb.org/steps-of-the-wizard/' target='_blank' data-ng-bind='getMessage("common.ppaGuideLink")'></a>
				</div>
				<div class='page-title-text-subtitle' data-ng-bind-html='subtitle'>A</div>
				
			</div>
			<!-- page title - end -->
			
			<!-- content pane - begin -->
			<div class='page-center'
				data-options=
				'
					region: "center",
					border: false,
				'
			>
			
				<table id='MapHealthSectorsAndLevels1-ppaSectors'></table>
				
			</div>
			<!-- content pane - end -->
			
			<!-- buttons - begin -->
			<div class='page-navigation'
				data-options=
				'
					region: "south",
					border: false,
				'
			>
			
				<a class='easyui-linkbutton navigation-button navigation-button-wizard'
					data-options=
					'
						text: getMessage("common.button.back"),
						onClick:
							function()
							{
								call(null, "selectPreviousWizardTab");
								
							},
					'
				></a>
				<a class='easyui-linkbutton navigation-button navigation-button-wizard'
					data-options=
					'
						text: getMessage("common.button.continue"),
						onClick:
							function()
							{
								call(null, "selectNextWizardTab");
								
							},
					'
				></a>
			
			</div>
			<!-- buttons - end -->
		
		</div>
		
	</div>
	
</div>

