<div class='easyui-layout page-layout-service'
	data-options=
	'
		fit: true,
	'
>

	<div
		data-options=
		'
			region: "center",
			border: false,
		'
	>
	
		<div class='easyui-layout'
			data-options=
			'
				fit: true,
			'
		>
		
			<!-- page title - begin -->
			<div class='page-title'
				data-options=
				'
					region: "north",
					border: false,
				'
			>
			
				<div class='page-title-text-title' data-ng-bind='title'>A</div>
				<div class='page-title-text-subtitle' data-ng-bind-html='subtitle'>A</div>
				
			</div>
			<!-- page title - end -->
			
			<!-- content pane - begin -->
			<div class='page-center'
				data-options=
				'
					region: "center",
					border: false,
				'
			>
			
				<div class='easyui-layout'
					data-options=
					'
						fit: true,
					'
				>
				
					<!-- dropzone - begin -->
					<div style='width: 45%;'
						data-options=
						'
							region: "west",
							border: false,
						'
					>
					
						<div id='MyDataSources-dropzone' class='droppable' style='height: 100%; '></div>
												
					</div>
					<!-- dropzone - end -->
				
					<!-- content pane - center - begin -->
					<div style='width: 45%;'
						data-options=
						'
							region: "east",
							border: false,
						'
					>
					
						<div id='MyDataSources-userFiles'>
						</div>
					
					</div>
					<!-- content pane - center - end -->
					
				</div>
					
			</div>
			<!-- content pane - end -->
			
			<!-- buttons - begin -->
			<div class='page-navigation'
				data-options=
				'
					region: "south",
					border: false,
				'
			>
			
				<a class='easyui-linkbutton navigation-button navigation-button-wizard back-button' style='width: auto; '
					data-options=
					'
						text: getMessage("common.button.goToWizard"),
						onClick:
							function()
							{
								call(null, "selectContentTab", ["SelectPpaMetrics1", ]);
								
							},
					'
				></a>
				
			</div>
			<!-- buttons - end -->
			
		</div>
		
	</div>
	
</div>

